/*FUENTES*/
/*COLORES*/
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

html {
  font-family: 'League Script', cursive;
  font-family: 'Notable', sans-serif;
  font-family: 'Roboto', sans-serif; }

.contenedor {
  width: 100%;
  margin: auto;
  padding: 0px; }

@media (max-width: 500px) {
  .contenedor {
    min-height: 0; } }

.navbar-nav a {
  color: #000000;
  margin-top: 30px;
  margin: 0 20px; }

.nav-link.active,
.nav-link:hover {
  font-weight: 600;
  border-bottom: 2px solid #000000;
  margin-bottom: -1px; }

.banner {
  position: relative;
  width: 100%;
  margin: auto;
  background-color: #F5F5F5;
  background-size: cover;
  background-position: center;
  height: calc(100vh - 86px - 50px);
  transition: all .1s ease-in-out;
  background-image: url(../media/banner1.jpg);
  animation: banner 21s infinite linear; }

.banner-content {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  color: #fff;
  background-color: rgba(0, 22, 40, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.banner-content h1 {
  font-size: 100px;
  text-align: center;
  font-family: "Notable", sans-serif;
  text-shadow: 5px 5px 10px #010101; }

@keyframes banner {
  0% {
    background-image: url(../media/banner1.jpg); }
  34% {
    background-image: url(../media/banner1.jpg); }
  35% {
    background-image: url(../media/banner2.png); }
  69% {
    background-image: url(../media/banner2.png); }
  70% {
    background-image: url(../media/banner3.png); }
  100% {
    background-image: url(../media/banner3.png); } }

@media (max-width: 1300px) {
  .banner-content h1 {
    font-size: 80px; } }

@media (max-width: 767px) {
  .banner-content h1 {
    font-size: 55px; } }

@media (max-height: 500px) {
  .banner-content h1 {
    font-size: 35px; } }

/*PEDI ONLINE*/
.pedionline-contenido {
  height: calc(100vh - 86px - 50px);
  overflow: auto; }

.pedionline-contenido img {
  height: 100%;
  margin: 0 auto; }

@media (max-width: 1400px) {
  .pedionline-contenido img {
    height: auto;
    width: 100%; } }

.menu-contenido {
  height: calc(100vh - 86px - 50px);
  overflow: auto; }

.hovereffects {
  width: 100%;
  height: 25vh;
  min-height: 250px;
  overflow: hidden;
  position: relative;
  text-aling: center;
  cursor: default;
  margin-top: 10px; }

.hovereffects img {
  height: 25vh;
  min-height: 250px;
  width: 100%; }

@media (max-width: 1000px) {
  .hovereffects {
    height: 200px; }
  .hovereffects img {
    height: 200px; } }

.hovereffects .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  top: 0;
  left: 0;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out; }

.hovereffects img {
  display: block;
  position: relative;
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear; }

.hovereffects h3 {
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  color: #fff;
  text-aling: center;
  position: relative;
  font-size: 25px;
  background: rgba(0, 0, 0, 0.6);
  -webkit-transform: translateY(-100px);
  -ms-transform: translateY(-100px);
  -webkit-transition: all .2% ease-in-out;
  transition: all .2% ease-in-out;
  padding: 10px;
  margin-bottom: 0; }

.hovereffects .linkcontainer {
  height: 100%; }

.hovereffects a.info {
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 5px;
  background-color: transparent;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  padding: 15px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  white-space: nowrap; }

.hovereffects a.info:hover {
  box-shadow: 0 0 5px #fff; }

.hovereffects:hover img {
  -ms-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2); }

.hovereffects:hover .overlay {
  opacity: 1;
  filter: alpha(opacity=100); }

.hovereffects:hover h3 {
  opacity: 1;
  filter: alpha(opacity=100);
  -ms-transform: translateY(0);
  -webkit-transform: translateY(0);
  transform: translateY(0); }

.hovereffects:hover a.info {
  opacity: 1;
  filter: alpha(opacity=100); }

.hovereffects:hover a.info {
  -webkit-transition-delay: .2s;
  transition-delay: .2s; }

@media (max-width: 1025px) {
  .hovereffects h3 {
    font-size: 18px; }
  .hovereffects .linkcontainer {
    position: relative; }
  .hovereffects a.info {
    box-shadow: 0 0 5px #fff;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 3px;
    opacity: 1;
    top: 10px;
    transform: translateX(-50%);
    filter: alpha(opacity=100);
    -webkit-transition-delay: .2s;
    transition-delay: .2s; }
  .hovereffects:hover img {
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1); }
  .hovereffects .overlay {
    opacity: 1;
    background-color: transparent; }
  .hovereffects h3 {
    opacity: 1;
    filter: alpha(opacity=100);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0); } }

/*NOSOTROS*/
#contenido_a {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  padding: 6rem 2rem 6rem 2rem; }

.nosotros-contenido {
  height: calc(100vh - 86px - 50px);
  overflow: auto; }

.nosotros-contenido .carousel-item {
  height: 60vh; }

.nosotros-contenido .carousel-item img {
  height: 100%;
  width: 100%;
  object-fit: cover; }

@media (max-width: 1000px) {
  height: 45vh;
  min-height: 300px; }

#contenedor {
  max-width: 1000px;
  width: 100%;
  display: flex;
  flex-direction: row wrap;
  margin: auto; }

.cont_img {
  overflow: hidden; }

.cont_img img {
  width: 100%;
  height: 100%;
  object-fit: cover; }

h2 {
  font-family: "Leckerli One", cursive;
  text-align: center;
  background-color: linear-gradient(to bottom, #BF65A0 50%, #069DBF 50%); }

.parrafo {
  background: #FFFFFF;
  padding: 0.5rem 3.5rem 3.5rem;
  position: relative;
  text-align: justify; }

.parrafo:after {
  content: '';
  position: absolute;
  bottom: 1.5rem;
  width: 150px;
  height: 4px;
  background-color: #000000;
  left: 50%;
  transform: translateX(-50%); }

@media (max-width: 500px) {
  .parrafo {
    padding-left: 0;
    padding-right: 0; } }

.foto {
  width: 450px;
  height: 450px;
  margin-right: 30px;
  border-radius: 15px; }

#bannerinfoa {
  font-family: "Notable", sans-serif;
  text-align: center;
  color: white;
  position: absolute;
  top: 40%;
  width: 100%;
  font-size: 80px;
  text-shadow: 5px 5px 10px #000000; }

@media (max-width: 1400px) {
  #bannerinfoa {
    font-size: 64px; } }

.d-block {
  width: 100%; }

.width-100 {
  width: 100%; }

@media (max-width: 767px) {
  #bannerinfoa {
    font-size: 2.5rem; } }

/*OPINA*/
.opina-contenido {
  height: calc(100vh - 86px - 50px);
  overflow: auto; }

.parallax {
  width: 100%;
  background-image: url(../media/patio1.png);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
  height: 43vh;
  min-height: 300px; }

@media (max-width: 1000px) {
  .parallax {
    height: 35vh; } }

.parallaxinfo {
  font-family: "Leckerli One", cursive;
  position: absolute;
  text-align: center;
  color: white;
  top: 50%;
  left: 50%;
  width: 50%;
  transform: translate(-50%, -50%);
  font-size: 65px;
  text-shadow: 5px 5px 10px #000000;
  vertical-align: middle;
  line-height: 1.4; }

.formulario {
  width: 500px;
  margin: auto;
  border-radius: 25px;
  padding: 15px;
  margin-top: 20px;
  text-align: center;
  display: flex;
  flex-direction: column; }
  .formulario > * {
    margin-bottom: 10px; }
  .formulario > *:last-child {
    margin-bottom: 0; }
  .formulario input, .formulario textarea {
    border: 2px solid #333333;
    padding: 10px;
    color: #333333; }
  .formulario textarea {
    min-height: 200px; }
  .formulario button {
    padding: 15px 30px;
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: bold;
    background-color: #333333;
    transition: all ease .3s;
    border: none;
    border-radius: 3px; }
    .formulario button:hover {
      background-color: #AB5783; }
  .formulario ::-webkit-input-placeholder {
    /* Edge */
    color: #333333; }
  .formulario :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #333333; }
  .formulario ::placeholder {
    color: #333333; }

@media (max-width: 767px) {
  .parallaxinfo {
    width: 80%;
    font-size: 45px; }
  .formulario {
    width: 100%; } }

#footera {
  background: #ffffff;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  height: 50px; }
  #footera img {
    width: 30px;
    vertical-align: bottom; }

#footera a {
  line-height: 30px;
  text-decoration: none;
  color: black;
  font-family: 'Roboto', sans-serif; }

@media (max-width: 500px) {
  #footera a > span {
    display: none; } }
