#footera {
	background: #ffffff;
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding: 10px;
	height: 50px;
				   img {
						width: 30px;
						vertical-align: bottom;
											
}
}

#footera a {
	line-height: 30px;		
	text-decoration: none;
	color: black;
	font-family: 'Roboto', sans-serif;
}

@media (max-width: 500px) {
	#footera a > span {
		display: none;
	}
}
