* {
margin: 0px;
padding: 0px;
box-sizing: border-box;
}

html {
	font-family: 'League Script', cursive;
	font-family: 'Notable', sans-serif;
	font-family: 'Roboto', sans-serif;
}

.contenedor {
	width: 100%;
	min-height: 100vh;
	margin: auto;
	padding: 0px;
}






