.banner {
	position: relative;
	width: 100%;
	margin: auto; 
	background-color: #F5F5F5;
	background-size: cover;
	background-position: center;
	height: calc(100vh - 86px - 50px);
	transition: all .1s ease-in-out;
	background-image: url(../media/banner1.jpg);
	animation: banner 21s infinite linear;
}

.banner-content {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	color: #fff;
	background-color: rgba(0, 22, 40, .2);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.banner-content h1 {
	font-size: 100px;
	text-align: center;
	font-family: $firstfont;
	text-shadow:5px 5px 10px #010101; 
}


@keyframes banner {
	0%{
		background-image: url(../media/banner1.jpg);
	}
	34%{
		background-image: url(../media/banner1.jpg);
	}
	35%{
		background-image: url(../media/banner2.png);
	}
	69%{
		background-image: url(../media/banner2.png);
	}
	70%{
		background-image: url(../media/banner3.png);
	}
	100%{
		background-image: url(../media/banner3.png);
	}
}

@media (max-width: 1300px) {
	.banner-content h1 {
		font-size: 80px;
	}
}

@media (max-width: 767px) {
	.banner-content h1 {
			font-size: 55px;

}}

@media (max-height: 500px) {
	.banner-content h1 {
			font-size: 35px;

}}