/*PEDI ONLINE*/
.pedionline-contenido {
	height: calc(100vh - 86px - 50px);
	overflow: auto;
}

.pedionline-contenido img {
	height: 100%;
	margin: 0 auto;
}

@media (max-width: 1400px) {
	.pedionline-contenido img {
	height: auto;
	width: 100%;
}
}