/*FUENTES*/
$firstfont { 
	font-family: 'Notable', sans-serif;
}

$secondfont { 
	font-family: 'Roboto', sans-serif;
}

$thirdfont { 
	font-family: 'League Script', cursive;
}

/*COLORES*/
$blanco { 
	color: #FFFFFF;
}

$negro { 
	color: #000000;
}